
@{
    ViewData["Title"] = "AddCar";
}

@model CarCapstoneAPIMVC.Models.CarInfo

<h1>Add Car</h1>

<form asp-action="Index" asp-controller="CarInformation" method="post">
    <input type="text" name="make" placeholder="Make"/>
    <input type="text" name="model" placeholder="Model"/>
    <input type="number" name="year" placeholder="Year"/>
    <input type="text" name="color" placeholder="Color"/>


    <input type="submit" value="Add Vroom Vroom Machine" />

</form>